
#formulario{
    background: rgb(10, 10, 93);
    padding: 45px;
    font-family: cursive;
}

.form-titulo{
    background: burlywood;
    padding: 20px;
    text-align: center;
    color: crimson;
    border-bottom: solid 5px red;
    border-radius: 8px 8px 0px 0px;
}
.form-registro{
    width: 95%;
    margin:auto;
    max-width: 500px;
    background: swhite;
    border-radius: 8px;
}
.contenedor-input{
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    padding: 10px;
    margin-bottom: 10px;
}
/* creacion de columnas manualmente */

.col-sm{
    width: 42%;
}
.col-xl{
    width: 100%;
}

/************************************/

.btn-registrar{
    background: tomato;
    color: white;
    margin:auto;
}