
.icon-guidedog:before { content: '\e800'; } /* '' */
.icon-credit-card:before { content: '\e801'; } /* '' */
.icon-vcard:before { content: '\e802'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */